body {
  background-color: var(--dark-bg);
  color:rgb(0, 0, 0);
  font-family: 'Segoe Ui', Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}